footer {
    width: 100%;
    padding: 100px;
    background-image: linear-gradient(135deg, #4E2E21 0%,#B24C24  100%);
    margin-top: auto;
    color:#fff;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(5, 81px);
    
}

footer a {
    transition: color ease-in-out .3s;
    font-weight: 600;
   
    color:#fff;
}

footer a:hover {
  color: #4E2E21 ;
}

footer .inside {
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    display: grid;

}