

#privacy  {
    background-image: linear-gradient(135deg, #B24C24 0%, #4E2E21 100%);
    color: #fff;
    padding: 200px 0 50px;
    
    
    

}


#privacy  h1 {
    text-align: center;
    font-size: 3rem;
    
    

}
#privacy .inside {
    line-height: 2.2;
  
    


}



#privacy .inside {
   
    width: 1300px;
    margin: 0 auto;


}